*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black ;
    padding: 1rem;
    color: white;
}


.logo{
    color: azure;
    font-size: 1.5rem;

}

.menu{
    display: none;
    flex-direction: column;
    background: #444;
    position: absolute;
    top: 60px;
    right: 20 px;
    width: 200px;
}

.menu a{
    color: aliceblue;
    padding: 1em;
    text-decoration: none;
    display: block;

}

.hamburger{
    font-size: 2rem;
    color: azure;
    cursor: pointer;
}

@media(min-width:768px){
    .menu{
        display: flex;
        flex-direction: row;
        position: static;
        background: none;
        width: auto;
    }

    .hamburger{
        display: none;
    }
}



@media